.woodTable {

  .cardHolder {
    position:relative;
    width:100%;
    height:400px;
    &::after {
      position: static;
      content:' ';
      display:block;
      clear:both;
    }
    .card {
      position:absolute;
      right:50%;
      &:nth-child(odd)  {
        transform: translateX(-25%) rotate(-15deg);
      }
      &:nth-child(even)  {
        transform: translateX(35%) rotate(15deg);
      }
    }
  }
}
